# # Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# # Ignore virtual environment directories
# venv/
.venv/

# # Ignore logs
# logs/
# *.log

# # Ignore data files
# # Data/
# # *.csv

# # Ignore Jupyter Notebook checkpoints
# .ipynb_checkpoints/

# # Ignore VS Code settings
# .vscode/
# *.code-workspace

# # Ignore Git files
# .git/
# .gitignore

# # Ignore Docker files
# Dockerfile
# # .dockerignore

# # Ignore other unnecessary files
# *.md
# *.txt